<form class="form" [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" formControlName="name" required>
        <span class="text-danger" *ngIf="gameFormControl.name.invalid && (gameFormControl.name.touched || gameFormControl.name.dirty)">Please input a name</span>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="2" id="description" formControlName="description" required></textarea>
        <span class="text-danger" *ngIf="gameFormControl.description.invalid && (gameFormControl.description.touched || gameFormControl.description.dirty)">Please input a description</span>
    </div>
    <div class="form-group">
        <label for="dateReleased">Date Released</label>
        <input class="form-control" type="date" id="dateReleased" formControlName="dateReleased"required>
        <span class="text-danger" *ngIf="gameFormControl.dateReleased.invalid && (gameFormControl.dateReleased.touched || gameFormControl.dateReleased.dirty)">Please add a valid date that is earlier than today</span>
    </div>
    <div class="form-group">
        <label for="rating">Rating (out of 10)</label>
        <input class="form-control" type="number" id="rating" formControlName="rating" required>
        <span class="text-danger" *ngIf="gameFormControl.rating.invalid && (gameFormControl.rating.touched || gameFormControl.rating.dirty)">Please input a number between 1 and 10</span>
    </div>

    <div>
        <button class="btn btn-primary" type="submit" [disabled]="!gameForm.valid">Save</button>
        <button class="btn btn-light" (click)="onCancel()">Cancel</button>
    </div>
</form>