<h1>All Games</h1>

<div class="searchControls">
    <label for="searchQuery">Search for Game by Name</label>
    <input id="searchQuery" type="text" [(ngModel)]="searchQuery">

    <button class="btn btn-primary" (click)="filterData()">Search</button>
</div>

<table class="table" *ngIf="data">
    <thead>
        <th style="width: 20%">Name</th>
        <th style="width: 50%">Description</th>
        <th style="width: 20%">Release Date</th>
        <th style="width: 15%">Rating / 10</th>
        <th style="width: 5%">Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let game of data.games">
            <td>{{game.name}}</td>
            <td>{{game.description}}</td>
            <td>{{game.releaseDate | date:'yyyy-MM-dd'}}</td>
            <td>{{game.rating}}</td>
            <td>
                <a *ngIf="game" [routerLink]="['/edit/']" [queryParams]="{id:game.id}" queryParamsHandling="merge">Edit</a><br/>
                <a *ngIf="game" href="javascript:;" (click)="delete(game)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="tableControls" *ngIf="data">
    <label for="pageSize">Page Size</label>
    <input id="pageSize" type="number" [(ngModel)]="pageSize" (change)="fetchData()" min="1">
    <a href="javascript:;" (click)="changePage(-1)" [class.disabled]="this.currentPage === 1">Previous Page</a>
    <span>{{pageNum}}</span>
    <a href="javascript:;" (click)="changePage(1)" [class.disabled]="data.length &lt; this.pageSize">Next Page</a>
</div>